<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.paper-radar.worker</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON__</string>
    <string>-I</string>
    <string>-m</string>
    <string>apps.cli</string>
    <string>run-worker</string>
    <string>--env-file</string>
    <string>__ENV_FILE__</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
